.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.production
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vscode
.vercel
.idea
.venv
.vscode
.aws/
__pycache__/
*.pyc
latest_gpt_prompt_*.txt
lib/sample*.pdf
lib/sample*.txt
static/sample_*
